<div class="event">
              <div class="content">
                <div class="summary">
                  <p style="color:brown;"><%= message.user.username%></p>
                    : <%= message.body%>
                  
                </div>
              </div>
            </div>