<h2 class="ui center aligned icon header">
  <i class="cercular orange wechat icon"></i>
  Chat Box
</h2>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <h4 class="ui header ">Followers Activity</h4>
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon">
              <i class="icon edit bordered inverted orange" style="float: right"></i>
              <div style="overflow: hidden; padding-right: .5em;">
                <input type="text" placeholder="enter something" style="width: 100%;">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" style="overflow-y: scroll; height:400px;">
        <div class="ui inverted vertical menu" >
          <a class="active item">
            friend 1
          </a>
          <a class="item">
            friend 2
          </a>
          <a class="item">
            friend 3
          </a>
          <a class="active item">
            friend 4
          </a>
          <a class="item">
            friend 5
          </a>
          <a class="item">
            friend 6
          </a>
          <a class="active item">
            friend 1
          </a>
          <a class="item">
            friend 2
          </a>
        </div>
      </div>
    </div>
