<h2 class="ui center aligned icon header">
  <i class="cercular orange wechat icon"></i>
  Chat Box
</h2>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox scrollable">
      <div class="content" id="messages"  >
        <div class="ui feed" id="message-container">
          <h4 class="ui header ">Followers Activity</h4>
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: {class: "ui reply form", role:"form"},url:message_path,remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body %>
              <%= f.button '<i class="icon edit bordered inverted orange"></i>'.html_safe %>
            </div>
          </div>
        <%end %>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" style="overflow-y: scroll;">
        <div class="ui inverted vertical menu" >
          <a class="active item">
            friend 1
          </a>
          <a class="item">
            friend 2
          </a>
          <a class="item">
            friend 3
          </a>
          <a class="active item">
            friend 4
          </a>
          <a class="item">
            friend 5
          </a>
          <a class="item">
            friend 6
          </a>
          <a class="active item">
            friend 1
          </a>
          <a class="item">
            friend 2
          </a>
        </div>
      </div>
    </div>
